:root{
    --ngjyraH1:red;
}
h1{
    color:var(--ngjyraH1);
}
*{
    padding: 0;
    margin: 0;
}

/* .header{
    width: 100vw;
    height: 200px;
    background-color: red;
}
.main{
    height: calc(100vh - 200px);
    background-color: purple;
} */
 .linear{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to bottom right,red, yellow, blue);

 }
 .main{
    width: 400px;
    height: 500px;
    margin-top: 20px;
    border: 1px solid red;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    background-position: center;
    background-image: url("https://media.licdn.com/dms/image/D4E12AQG0hyhZmq0AyQ/article-cover_image-shrink_600_2000/0/1700488940348?e=2147483647&v=beta&t=eZtDe_xSbm65L-mR1tnM8vnfMpM3aWcSe8rw8o7sjSs");
 }